$primary: #064635;
$secondary: #519259;

@import '~bootstrap/scss/bootstrap.scss';

#login, #register {
  .row .col-md-7, .row .col-md-5 {
    height: 100vh;
  }

  .carousel-side {
    background-image: url("../assets/images/login-bg.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $secondary;
  }

  .login-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;

    .password-reminder {
      color: $secondary;
      text-decoration: none;
      font-weight: bolder;
    }
  }
}

#dashboard {
  min-height: 100vh;
  display: flex;
  background-color: #f5f5f5;

  padding-bottom: 5em;

  //overflow-y: scroll;

  .main-content {
    display: block;
    width: 100%;
    margin-left: 5em;
  }

  @media (max-width: 600px) {
    .main-content {
      margin-left: 0;
      padding-bottom: 100px !important;
    }
  }
}

#plans {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button-title {
    border-radius: 0 !important;
    margin-top: 0 !important;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 15em;
    }
  }

  .add-plan-button {

  }
}

// Components

#timePicker {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  .picker-label {
    min-height: 48px;
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    border: 1px solid #e1dfec;
    border-radius: 500px;
    background-color: #fff;
    color: #8c87a6;
    letter-spacing: -0.02em;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  position: relative;

  .clock-icon {
    margin-right: 1em;
  }

  .time-pick {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 52px;
    left: 0;
    border: 1px solid #e1dfec;
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
    height: 5em;
    padding: 1em 0;
    font-size: 24px;
    line-height: 24px;
    z-index: 200;
  }

  .save{
    background: $primary;
    padding: 0.2em;
    margin: 0.2em;
    margin-left: 0.6em;
    border-radius: 5px !important;
    width: 42px;
    font-size: 24px;
  }
}

#navbar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;

  .user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px -12px rgba(66, 68, 90, 1);

    span {
      margin-right: 1em;
    }
  }

  .dropdown {
    width: 100%;
    border-radius: 10px;
  }
}

#sidebar {
  box-shadow: 0px 0px 20px -12px rgba(66, 68, 90, 1);
  width: 5em;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;

  .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
  }

  .sidebar-nav {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      margin: 1.5rem 0;
      color: $primary;
      font-size: 24px;
      background-size: 200% 100%;
      background-image: linear-gradient(to right, #ffffff 50%, $primary 50%);
      transition: background-position 0.2s, color 0.2s;
    }

    a:hover {
      color: #ffffff;
      background-position: -100% 0;
    }

    //span.logout {
    //  position: absolute;
    //  bottom: 0;
    //  color: $primary;
    //  margin: 1.5rem 0;
    //  font-size: 24px;
    //}

    a.active:before {
      position: absolute;
      left: 0;
      z-index: 100;
      display: block;
      height: 50px;
      width: 5px;
      background-color: $primary;
      content: "";
      border-radius: 0 10px 10px 0;
    }

  }

  @media (max-width: 600px) {
    width: 100%;
    height: 4em;
    bottom: 0;
    position: fixed;
    z-index: 100;

    .sidebar-logo {
      display: none;
    }

    .sidebar-nav {
      margin-top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 4em;

      a {
        margin: 0;
        position: relative;
        height: 100%;
      }

      a:hover {
        background-position: 0;
      }

      a.active::before {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 100;
        display: block;
        height: 5px;
        width: 100%;
        background-color: $primary;
        content: "";
        border-radius: 10px 10px 0 0;
      }

    }
  }
}

#home {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .refeach {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: $secondary;
    color: #ffffff;
    border-radius: 15px;
    font-size: 22px;
  }

  .refeach.disabled, .refeach.disabled:hover {
    background: #737373;
    color: #ffffff;
  }

  .refeach:hover {
    background: #053c2d;
    transition: background 0.2s;
  }

  .info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    min-height: 150px;
  }

  .progress-circle {
    margin: auto;
  }

  .progress-circle, .spinner {
    height: 4rem;
    width: 4rem;
  }

  .progress-circle-danger .CircularProgressbar-path {
    stroke: #e63946 !important;
  }

  .progress-circle .CircularProgressbar-path {
    stroke: $primary;
  }

  .progress-circle .CircularProgressbar-text, .progress-circle-danger .CircularProgressbar-text {
    fill: $primary;
    font-family: sans-serif;
    font-size: 18px;
  }

  .label {
    //font-weight: bold;
    font-size: 14px;
  }

}

#settings {
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-manage{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .user-manage > *:not(:last-child){
    margin-right: 1em !important;
  }

  .btn-list {
    width: 46px !important;
    height: 38px !important;
    border-radius: 10px !important;
    margin: 0;
    padding: 0;
  }

}

#banner {
  margin-top: -1px;
  height: 5rem;
  width: 100%;
  background-image: url("../assets/images/login-bg.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $secondary;

  display: flex;
  align-items: center;
  padding-left: 3em;
  font-size: 32px;
  font-weight: bold;

  @media (max-width: 600px) {
    height: 5rem;
    padding-left: 1em;
  }
}

// Overwritten

input[type=text], input[type=number], input[type=password], input[type=email]{
  min-height: 48px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  border: 1px solid #e1dfec;
  border-radius: 500px;
  background-color: #fff;
  color: #8c87a6;
  letter-spacing: -0.02em;
}

.btn {
  width: 100%;
  height: 48px;
  //margin-top: 32px;
  padding: 12px 32px;
  border-radius: 500px !important;
}

.btn-sm {
  height: 38px !important;
  padding: 4px 8px;
  font-size: .875rem;
  border-radius: 0.2rem;
}

// Form

.form-error{
  font-size: 12px;
  color: #ff0700;
  margin-left: 24px;
}
